<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Information Form</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Patient Information</h1>
        <form id="patientForm" action="/patient/form" method="post">
            <div class="form-group">
                <label for="patientName">Patient Name</label>
                <input type="text" id="patientName" name="patientName" pattern="[A-Za-z\s]+" title="Patient name should only contain letters and spaces" required>
            </div>

            <div class="form-group">
                <label for="patientPhone">Phone Number</label>
                <input type="tel" id="patientPhone" name="patientPhone" pattern="[0-9]+" title="Phone number should only contain digits" required>
            </div>

            <div class="form-group">
                <label for="patientEmail">Email</label>
                <input type="email" id="patientEmail" name="patientEmail" required>
            </div>

            <div class="form-group">
                <label for="patientAddress">Address</label>
                <textarea id="patientAddress" name="patientAddress" required></textarea>
            </div>
            <div class="form-group">
                <label for="diseaseName">Disease Name</label>
                <input type="text" id="diseaseName" name="diseaseName" required>
            </div>
            <div class="form-group">
                <label for="diseaseID">Disease ID</label>
                <input type="text" id="diseaseID" name="diseaseID" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

